@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
}
@import 'tailwindcss';

@keyframes zoomPulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
  }
  
  .zoom-pulse {
    animation: zoomPulse 3s ease-in-out infinite;
  }
  @keyframes sway {
    0%, 100% {
         transform: rotate(-10deg); 
    }
    50% {
         transform: rotate(10deg);
    }
  }
  .animate-sway {
    animation: sway 3s ease-in-out infinite;
   
  }
  @keyframes fadey {
    0%,100%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(-25px);
    }
  }
  .animate-fadey{
    animation: fadey 5s ease-in-out infinite ;
  }
  @layer utilities{
    .stroke-red-600{
      -webkit-text-stroke: 1px #ef4444;
    }
  }
